html {
    font-family: "JetBrains Mono", system-ui, sans-serif;
    font-size: 14px;
    line-height: 1.2rem;
    background: #FBFAF5;
    color: #0e1111;
    background-size: 224px;
}

html.dark {
    background: #0e1111;
    color: #FBFAF5;
}
body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}
a {
    color: inherit;
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
} 

footer a {
    margin-bottom: 1rem;
}
footer p {
    font-style: italic;
    font-size: 10px;
}

/* We want to bump up the font size on touch screens so that tap targets are easier to hit */
@media (hover: none) {
    html {
        font-size: 18px;
    }
}
code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
    monospace;
}

h1 {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

body:not(.is-home) a {
    text-decoration: underline;
}

