:root {
    --bg-color: #141617;
    --fg-color: #d4be98;
    --red: #ea6962;
    --orange: #e78a4e;
    --yellow: #d8a657;
    --green: #a9b665;
    --aqua: #89b482;
    --blue: #7daea3;
    --purple: #d3869b;
}
html {
    font-family: "JetBrains Mono", system-ui, sans-serif;
    font-size: 18px;
    line-height: 1.5rem;
    background-size: 224px;
    background: var(--bg-color);
    color: var(--fg-color);
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

p strong {
    color: var(--orange);
}

a {
    color: inherit;
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
} 

footer a {
    margin-bottom: 1rem;
}
footer p {
    font-style: italic;
    font-size: 10px;
}

@media (hover: none) {
    html {
        font-size: 18px;
    }
}

pre {
    padding: 0.5rem;
    font-family: monospace;
    background: inherit !important;
    border: 1px solid #ebdbb2;
}

h1 {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--aqua);
}
 h2 {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--yellow);
}

body:not(.is-home) a {
    text-decoration: underline;
}

