---
// https://github.com/fontsource/font-files/tree/3ef0dc8e3b625831a3ce7d586194c718491b7c6f/fonts/google/jetbrains-mono
import "@fontsource/jetbrains-mono/400.css";
import "@fontsource/jetbrains-mono/500.css";

import { SITE_NAME, DESCRIPTION } from "../../src/config";
//import Header from "../components/Header.astro";
import '../styles/global.css';

interface Props {
	title: string;
}

// @ts-ignore - TODO figure otu type safety on this
const { frontmatter } = Astro.props;

const isHome = Astro.url.pathname === "/cs-notes/";

const pageTitle = [
	frontmatter.title ? frontmatter.title : undefined,
	isHome ? SITE_NAME : undefined,
]
	.filter(Boolean)
	.join(" | ");
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={DESCRIPTION} />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="cs-notes/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class={`${isHome ? "is-home" : ""}`}>
		<div>
			<main>
				<h1>{frontmatter.title}</h1>
				<slot />
			</main>

			<footer>
				{!isHome && <a href="/cs-notes/">home</a>
				<p>Alle Angaben ohne Gewähr</p>}
			</footer>
		</div>
	</body>
</html>

